.card {
  height: 400px;
  width: 400px;
  background-size: cover !important;
  background-position: center;
  align-items: center;
  color: white;
  flex: 0 0 33%;
  margin: 2%;
  -webkit-transition: background-color 300ms ease-in;
  -ms-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}

.project-card {
  margin-top: 2%;
  width: auto;
  height: auto;
  flex: 1;
  position: relative;
}

#gmd-logo {
  position: absolute;
  top: 0;
  bottom: 60%;
  left: 2%;
  right: 0;
  width: 150px;
  height: 50px;
  margin-top: 2%;
}

#sw-logo {
  position: absolute;
  top: 0;
  bottom: 60%;
  left: 2%;
  right: 0;
  width: 80px;
  height: 80px;
  margin-top: 2%;
}

.card-content {
  position: absolute;
  text-align: center;
  align-items: center;
  top: 60%;
  bottom: 0;
  left: 2%;
  right: 0;
}

.card-content .starbutton {
  margin: 5%;
}

.project-card img {
  width: 100%;
  height: 100%;
}

.project-card .stars-background {
  width: 100%;
  height: 100%;
}

.card-text {
  visibility: hidden;
  min-height: 400px;
  width: auto;
}

.card:hover .card-text {
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  -webkit-transition: color 300ms ease-in;
  -ms-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
  opacity: 3;
  text-align: center;
  -moz-transition: all .1s;
  -webkit-transition: all .1s;
  transition: all .1s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.card-description a {
  text-decoration: none;
}

.card:hover .card-text {
 visibility: visible;
}

.getmydata-heading {
  font-family: "Raleway";
  color: white;
  font-size: 50px;
}

.getmydata-paragraph {
  font-family: "Raleway";
  color: white;
  font-size: 25px;
}

.spacewagon-heading {
  font-family: "Space Mono";
  color: white;
  font-size: 50px;
}

.spacewagon-paragraph {
  font-family: "Space Mono";
  color: white;
  font-size: 25px;
}

/* media queries */

@media (max-width: 992px) {
  .project-card {
    -webkit-box-flex: 0;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 0px 20px;
  }
  .card {
    -webkit-box-flex: 0;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
  #gmd-logo {
  position: absolute;
  top: 0;
  bottom: 60%;
  left: 6%;
  right: 0;
  width: 100px;
  height: 50px;
  margin-top: 2%;
  }
  .text-center h1 {
   font-size: 20px;
  }
  .getmydata-heading {
    font-size: 24px;
  }
  .getmydata-paragraph{
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .project-card {
    -webkit-box-flex: 0;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .card {
    -webkit-box-flex: 0;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  #gmd-logo {
  position: absolute;
  top: 0;
  bottom: 60%;
  left: 6%;
  right: 0;
  width: 75px;
  height: 25px;
  margin-top: 2%;
  }
  .text-center h1 {
   font-size: 16px;
  }
  .getmydata-heading {
    font-size: 18px;
  }
  .getmydata-paragraph{
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .project-card {
    -webkit-box-flex: 0;
    -ms-flex: 1 0 100vw;
    flex: 1 0 100vw;
  }
  .card {
    -webkit-box-flex: 0;
    -ms-flex: 1 0 100vw;
    flex: 1 0 100vw;
  }
  #gmd-logo {
  position: absolute;
  top: 0;
  bottom: 60%;
  left: 6%;
  right: 0;
  width: 50px;
  height: 25px;
  margin-top: 2%;
  }
  .text-center h1 {
   font-size: 12px;
  }
  .getmydata-heading {
    font-size: 14px;
  }
  .getmydata-paragraph{
    font-size: 12px;
  }
}
