@import 'stars.css';
@import 'button.css';
@import 'navbar.css';
@import 'cards.css';
@import 'footer.css';


.banner {
  color: white;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  height: calc(100vh -80px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  text-align: center;
  background-color: #FFFFFF;
}

.wrapper-second {
   height: auto;
   width: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   justify-content: space-between;
   justify-content: center;
   padding: 5%;
}

.wrapper-third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.wrapper-title {
  text-align: center;
}

#img-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow:  -1px 1px #D3D3D3;
}

.card-bio {
  text-align: center;
  width: 400px;
  height: 300px;
  margin: auto;
  margin-top: 100px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .features {
    padding-top: 30px;
  }
}

.feature {
  padding: 40px 10px 0 10px;
  margin: 10px 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  padding-bottom: 0;
  text-align: left;
}

ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}
li:before {
    content: "";
    border-color: transparent #DF0000;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

/* media queries*/

@media (max-width: 992px) {
  .feature {
    -webkit-box-flex: 0;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 0px 20px;
  }
}

@media (max-width: 768px) {
  .feature {
    -webkit-box-flex: 0;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}

@media (max-width: 375px) {
  .feature {
    -webkit-box-flex: 0;
    -ms-flex: 1 0 100vw;
    flex: 1 0 100vw;
  }
}

@media (max-width: 768px) {
  .banner {
  background-image: "images/amsterdam_resized.jpg"
  background-size: cover !important;
  }
}

@media (max-width: 375px) {
  .banner {
  background-image: "images/amsterdam_resized_2.jpg";
  background-size: cover !important;
  }
}
